.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: gainsboro;
  border-radius: 5px;
}

.commentContent {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.commentText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.commentUser {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentText .commentCreatedAt {
  margin-left: auto; 
  position: absolute; 
  right: 45px;
  bottom: 11px;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  background-color: #ccc; 
  margin-top: -15px;
  margin-right: 10px;
}

.menu-icon:hover {
  background-color: #ddd;
}

.menu-icon svg {
  color: #333; 
  font-size: 16px; 
}

.delete-button {
  background-color: #dc3545; 
  color: white; 
  border: none; 
  font-size: 14px;
  border-radius: 4px; 
  cursor: pointer; 
  position: absolute;
  bottom: -5px; 
  right: 30px;
}

.delete-button:hover {
  background-color: #c82333; 
}

.edit-button {
  background-color: #007bff; 
  color: white;
  border: none; 
  font-size: 14px; 
  border-radius: 4px; 
  cursor: pointer; 
  position: absolute; 
  bottom: -5px; 
  right: 80px;
}

.edit-button:hover {
  background-color: #0056b3; 
}

.commentContent textarea {
  width: 99%;
  margin-top: 10px;
  resize: none;
  background-color: gainsboro;
}

.commentContent > p  {
  margin-left: 50px;
  font-size: 14px;
  border-radius: 4px;  
  color: #333;
}

.edit-submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto; 
  display: block; 
}

.edit-submit-button:hover {
  background-color: #218838;
}

.replies {
  margin-top: 10px;
  margin-left: 40px;
  background-color: #f9f9f9;
}

.replyBox {
  margin-top: 10px;
  padding: 10px;
}

.replyBox form {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.replyBox textarea {
  width: 90%;
  resize: none;
}

.replyBox button {
  display: inline-block;
  background-color: skyblue;
  color: black;
  padding: px 20px; /* ボタンの内側の余白を設定 */
  cursor: pointer;
}

