.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  width: 100%; 
  padding: 0 30px; 
}

.Search {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.Search Form {
 display: flex;
 width: 100%;
}

.Search input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.Search button {
  background-color: pink;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.comments {
  margin-bottom: 20px;
  width: 100%;
}

.post {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  z-index: 999;
  background-color: white;
}

.postForm {
  display: flex;
  width: 100%;
}

.postForm textarea {
  flex: 1;
  width: 100%;
  resize: none;
}

.postForm button {
  background-color: pink;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  width: 50px;
}