#nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto; 
  border: solid black;
  border-width: 2px 4px 4px 1px;
  border-radius: 20px;
  background-color: whitesmoke;
  margin-left: 20px;
  height: calc(100vh - 140px);
} 

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex; 
  align-items: center; 
}

a {
  text-decoration: none;
  color: #130e0e;
  display: flex; 
  align-items: center; 
}

a:hover {
  color: black;
}

.active {
  text-decoration: underline;
}

.Homeicon,
.Friendsicon,
.MyPageicon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  mix-blend-mode: multiply;
}

@media screen and (min-width: 960px) {
  #nav {
    height: 100%;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  #nav {
    height: calc(100vh - 140px); 
  }

  li {
    margin-bottom: 10px; 
  }
}

