.post {
  padding: 1rem;
  width: 90%;
  position: fixed;
  bottom: 0px;
}

.postForm {
  display: flex;
  gap: 0.5rem;
}

.postForm textarea {
  resize: none;
  width: 100%;
}

.postForm button {
  padding-inline: 1rem;
  background: blue;
  color: azure;
  border: none;
}
