html.body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  width: auto;
  height: auto;
}

.content-wrapper {
  display: flex;
}

.content {
  flex-grow: 1; 
  width: auto;
  /* padding: 20px;  */
}

